.chartContainer {
  width: device-width;
  height: 100%;
}

.chartPage {
  width: device-width;
  height: 900px;
}

.chartPage2 {
  width: 100%;
  height: 11000px;
}

.crimeBtn {
  font-size: 2vmin;
  padding: 10px;
  margin: 5px;
  height: 6vh;
}

.vowelDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.crimeCaseList {
  display: flex;
  flex-direction: row;
}

.crimeTextColumn {
  display: flex;
  flex-direction: column;
}