/* 차트 */
.chartContainer {
  width: device-width;
  height: 100%;
}

.chartPage {
  width: device-width;
  height: 900px;
}

.chartPage2 {
  width: 100%;
  height: 11000px;
}

/* 범죄 목록 */ 
.btn {
  font-size: 1.2rem;
  min-width: 90px;
  padding: 15px 10px;
  margin: 5px;

  transition: 0.1s;
}

.btn:hover {
  transform: scale(1.05)
}

.vowelDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.crimeCaseList {
  display: flex;
  flex-direction: row;
}

.crimeTextColumn {
  display: flex;
  flex-direction: column;
}


/* 검색 창 */

.input-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 64px;
  width: 50vw;
  min-width: 400px;
  font-size: 24px;
}

.board {
  margin: auto;
  width: 90vw;
  border: 1px solid black;
}

.boardItem {
  font-size: 24px;
  height: 64px;
  margin: 15px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: lightblue;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.2s;
}

.boardItem:hover {
  transform: scale(1.05);
}


.noResult {
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container p {
  margin: 1px;
}

.material-symbols-outlined {
  font-size: 64px;
  color: gray;
  margin-bottom: 20;
}


#scroll-to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 0px;
  z-index: 9;

  transition: 0.1s;
}

#scroll-to-top:hover {
  transform: scale(1.2);
}

#arrow_upward {
  font-size: 36px;
  color:white;
}


/* Made by */

.icons {
  margin: 10px
}

.gmailImg, .githubImg, .tstoryImg {
  width: 50px;
  height: 50px;
}

.githubImg {
  width: 55px;
  height: 55px;
}

.tstoryImg {
  width: 50px;
  height: 50px;
}
